<div class="contenido">
  <div class="container">
<h4><strong>Preguntas</strong></h4>
<ol>
          <li><strong>¿Qué es ODBC y para qué es útil? [1]</strong>
            <ul><li>
              ODBC es la abreviación de Open DataBase Connectivity, la cual es un estándar desarrollado para que las aplicaciones
              que accedan a las bases de datos puedan trabajar con cualquier motor con la única necesidad de cambiar sólo un elemento.
            </li></ul>
          </li><br>

          <li><strong>¿Qué es SQL Injection?</strong>
            <ul>
              <li>Es un modo de ataque a los sitios web en donde el hacker ejecuta scripts de SQL a travéz de las formas que se encuentran
                en el sitio.</li>
            </ul>
          </li><br>

          <li><strong>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</strong>
            <ul>
              <li>Una manera para evitar éste tipo de ataques, es creando verificaciones en php para que el sistema no ejecute las entradas como
                un script de SQL.</li>
            </ul>
          </li><br>

</ol>
          <!--Referencias-->
            <section><a name="referencias"></a>
              <h5>Referencias:</h5>
              <p>
                [1] <a href="https://www.uv.es/jac/guia/gestion/gestion3.htm">https://www.uv.es/jac/guia/gestion/gestion3.htm</a> <br>
              </p>
            </section>

</div></div>
