<body>
    <div class="contenido">
        <div class="container">
            <p class="text-center">Hola! En este laboratorio voy a colocar un mapa de google maps mediante el uso de la API de Google.</p>
            <h3 class="text-center">Aquí debería de estar el mapa</h3>
            <div id="map"></div>
        </div>
    </div>

    <script src="js/googlemaps.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTas46tZswvdhviL9J4KJl14St3HK1KJE&callback=initMap">
    </script>

</body>