<div class="contenido">
    <div class="container">
        <h4><strong>Preguntas</strong></h4>
        <ol>
            <li><strong>¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?</strong>
                <ul>
                    <li>
                        Usar API's de terceros tienen como ventaja que te ahorra mucho trabajo que alguien ya realizó,
                        e incluso le dedicó más tiempo para perfeccionarlo.
                    </li>
                </ul>
            </li><br>
            <br>
        </ol>
    </div>
</div>
