<div class="contenido">
  <div class="container">
    <br><br>
    <p>
      Hola que tal <?=$user?>
    </p>
    <p>
      Ingresa el nombre de un alumno para ver cuanto dinero debe (dante, paulo, rodrigo, test, Julio Profe, ...)
    </p>
    <form>
            <input type="text" id="userInput" onkeyup="sendRequest()">
        </form>

        <div id="ajaxResponse"></div>

        <script type="text/javascript" src="js/ajax.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <br>

    <br><br><br><br>
  </div>
</div>
