


<div class="container">
  <p>Inicia sesión con el usuario "dante" y las pass "hola"</p>

  <form action="login.php" method="POST">
    <div class="form-group">
      <label for="user">Usuario</label>
      <input type="text" class="form-control" id="user" name="user">

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary bg-danger text-white">Submit</button>
  </form>
</div>

<script type="text/javascript" src="js/ajax2.js"></script>
