<div class="contenido">
  <div class="container">
    <div class="center-align">
      <h4><strong>REGISTRAR USUARIO</strong></h4>
    </div>
    <div class="row">

      <!--FORMA-->
      <form class="col s12" action="" method="POST">

        <div class="row">
          <div class="input-field col s6">
            <input name="nombreU" id="nombreU" type="text" required>
            <label for="nombreU">Nombre</label>
          </div>

          <div class="input-field col s6">
            <input name="passwd" id="passwd" type="password" required>
            <label for="passwd">Contraseña</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input  class="btn waves-effect waves-light red" type="submit" value="Registrar">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
