<body>
  <div class="contenido">
    <div class="container">
      <p>
        <strong>Hola <?=$user?>! </strong>
      </p>
      <div class="center-align">
        <p>Sube una imagen.</p>
        <br>
        <br>
        <br>
        <br>
        <a class="btn-floating btn-large waves-effect waves-light red" href="add.php"><i class="material-icons">add</i></a>

        <br>

        <img src="<?=$_SESSION["ruta_archivo"]?>"><?=$_SESSION["producto"]?>
        <br>
        <br>
        <br>
        <br>




      </div>
    </div>
  </div>
</body>
